.btn-new-competition{
	margin-top: 20px;
	margin-bottom: 60px;
}

.modal-footer{
	text-align: center;
}
.tab_url{
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
}