#gallery>div{
	margin-top: 20px;
}

figure {
	position: relative;
	height: 300px;
    background-size: cover;
    background-position: center;
	cursor: pointer;
}

figcaption{
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 100%;
	background-color: rgba(226, 224, 224, 0.77);
	cursor: default;
}

figcaption *{
	height: 100%;
	padding: 0 !important;
	text-align: center;
	margin: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.report img{
	max-width: 100%;
	cursor: pointer;
}

.reportSent{
	font-size: 11px;
    color: red;
}

/*** MODAL ****/

.modal-body{
	height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-report img{
	max-width: 30%;
	cursor: pointer;
}