.no-padding{
	padding: 0 !important;
}
.cursor-pointer{
	cursor: pointer;
}
a{
	text-decoration: none !important;
	color: inherit !important;
}
.row{
	margin-right: 0;
	margin-left: 0;
}
footer{
	margin-top: 50px;
}