button, .btn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin: 10px auto;
    white-space: normal !important;
}

#listPictures{
	/*on ne peut pas gérer le margin left/right avec Bootstrap*/
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	overflow: scroll;
	height: 300px;
	border: 1px solid;
	text-align: center;
}
input[type=file]{
	margin: 0 auto;
}
img{
	width: 100%;
}