body{
	background-image: url(../img/wallpaper.png);
	background-size: cover;
	background-attachment: fixed;
}

h1, h2{
	font-family: 'Architects Daughter', cursive;
	font-weight: bold;
}
h2{
	font-size: 36px;
}

button, .btn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin: 10px auto;
    white-space: normal !important;
    background-color: #730932;
    color: #fff;
}
.btn:hover, .btn:active, .btn:focus{
	color: #e8ced8;
}

.listPictures{
	/*on ne peut pas gérer le margin left/right avec Bootstrap*/
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
}

.collapse.in{
	border-top: 1px solid #ddd;
}

input[type=file]{
	margin: 0 auto;
}

img{
	width: 100%;
}

.img-logo{
	position: absolute;
	float: left;
}

.pbFileSize{
	display: none;
}

.cgu-link:hover{
	color: #730932;
}

footer .navbar{
	margin-bottom: 0;
}

.footer-link:hover{
	color: #730932 !important;
}

.panel-heading{
	background-color: #730932;
		
}