body{
  	background-image : url('../img/noCompetition.jpg');
	  background-size : 100%;
    background-repeat: no-repeat;
	  vertical-align: bottom;
}

h2{
  color: black;
  margin-left: 20%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  text-align : left;
}

img{
	width: auto;
  height: 100px;
}