body{
  	background-image : url("http://media.gettyimages.com/photos/bearded-man-with-tattoos-standing-with-arms-crossed-picture-id518339107");
	  background-size : 100%;
	  vertical-align: bottom;
}

.padding-left-30{
	padding-left: 30px;
	padding-top : 15%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  text-align : left;
}

img{
	width: auto;
  height: 100px;
}