body{
  	background-image : url('../img/noCompetition.jpg');
	  background-size : cover;
    background-repeat: no-repeat;
    background-position-y: 15%;
    color: #ebebe9;
}

h2, h3{
  margin-left: 2%;
}
p{
  padding-top: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  text-align : left;
}

.admin-connexion{
  position: absolute;
  bottom: 0;
}

img{
  float: left;
	width: auto;
  height: 100px;
}